.emails-input-lib {
  ul {
    margin: 24px 50px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    height: 96px;
    box-sizing: border-box;
    background: white;
    border: 1px solid #C3C2CF;
    border-radius: 4px;
    list-style-type: none;
    overflow: scroll;

    li {
      margin-right: 10px;
      display: inline-flex;
      border-bottom: 1px dashed $error;

      &.is-valid {
        padding: 0 10px;;
        background: $blockBackground;
        border-radius: 100px;
        border-bottom: 0;
      }

      button {
        margin-left: 6px;
        padding: 0;
        width: 8px;
        background: transparent;
        line-height: 0.5;

        svg {
          /* ensure svg will never be the target of mouse event */
          pointer-events: none;
        }
      }
    }

    input {
      padding: 0;
      flex: auto;
      border: 0;
      font-size: 14px;
      outline: none;
    }
  }
}
