.emails-input-lib {
  &__main {
    margin: 24px 50px;
    padding: 8px;
    height: 96px;
    background: white;
    border: 1px solid #C3C2CF;
    border-radius: 4px;
    overflow: auto;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    box-sizing: border-box;
    list-style-type: none;
  }

  &__input-item {
    flex: auto;
  }

  &__input {
    padding: 0;
    border: 0;
    font-size: 14px;
    outline: none;
  }

  &__block {
    margin: 0 10px 5px 0;
    display: inline-flex;
    border-bottom: 1px dashed $error;

    &.is-valid {
      padding: 0 10px;;
      background: $blockBackground;
      border-radius: 100px;
      border-bottom: 0;
    }
  }

  &__btn--block {
    margin-left: 6px;
    padding: 0;
    width: 8px;
    background: transparent;
    line-height: 0.5;

    svg {
      /* ensure svg will never be the target of mouse event */
      pointer-events: none;
    }
  }
}
